<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inicio</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/bootstrap-icons.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <link href="/css/templatemo-pod-talk.css" rel="stylesheet">

    <!--

TemplateMo 584 Pod Talk

https://templatemo.com/tm-584-pod-talk

-->
</head>

<body>

    <main>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
              
         

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/mantenimientos">Mantenimientos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/empleados">Empleados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/clientes">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/vehiculos">Vehiculos</a>
                        </li>
                    </ul>

                    <div class="ms-4">
                        <a href="mantenimiento.Estado" class="btn custom-btn custom-border-btn smoothscroll">Salir</a>
                    </div>
                </div>
            </div>
        </nav>


        <section class="hero-section">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <div class="text-center mb-5 pb-2">
                            <h1 class="text-white">En Mantenimiento</h1>

                        </div>


                        <div class="owl-carousel owl-theme">
                            
                            <% Enprogreso.forEach(function (Enprogreso) { %>

                            <div class="owl-carousel-info-wrap  ">
                                  <div class="col">
                                    <div class="card h-100 text-bg-light">
                                      <img src="<%= Enprogreso.FotoRuta %>" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <p class="card-text">This content is a little bit longer.</p>
                                      </div>
                                      <div class="card-footer">
                                        <small class="text-muted">-----------------------</small>
                                      </div>
                                    </div>

                                    <div class="owl-carousel-info">
                                <h4 class="mb-2 text-center"><%= Enprogreso.Marca %></h4>
                                    
                         </div>
                             </div> 
                            </div>
                            <% }); %>

                        </div>
                    </div>

                </div>
            </div>
        </section>


        
        <section class="topics-section section-padding pb-0" id="section_3">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">Menu</h4>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 text-lg-center">
                        <div class="custom-block custom-block-overlay ">
                            <a href="detail-page.html" class="custom-block-image-wrap">
                                <a href="/mantenimientos"><img src="https://i.ibb.co/YRzG2g7/reparacion-de-autos.png"
                                    class="custom-block-image img-fluid bi-align-center" alt="">
                            </a>

                            <div class="custom-block-info custom-block-overlay-info">
                                <h5 class="mb-1">
                                    <a href="listing-page.html"> Mantenimientos</a>
                                </h5>
                           <p class="badge mb-0"><%= mantenimientos[0].mantenimientos %></p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 text-lg-center">
                        <div class="custom-block custom-block-overlay align-content-center">
                            <a href="detail-page.html" class="custom-block-image-wrap">
                                <a href="/empleados"><img src="https://i.ibb.co/tDXrh7P/mecanico-2.png"
                                    class="custom-block-image img-fluid bi-align-center" alt="">
                            </a>

                            <div class="custom-block-info custom-block-overlay-info">
                                <h5 class="mb-1">
                                    <a href="/empleados"> Empleados</a>
                                </h5>
                           <p class="badge mb-0"><%= empleados[0].empleados %> </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 text-lg-center">
                        <div class="custom-block custom-block-overlay align-content-center">
                            <a href="/clientes" class="custom-block-image-wrap">
                                <a href="/clientes"><img src="https://i.ibb.co/FBBBwz9/grupo.png"
                                    class="custom-block-image img-fluid bi-align-center" alt="">
                            </a>

                            <div class="custom-block-info custom-block-overlay-info">
                                <h5 class="mb-1">
                                    <a href="listing-page.html"> Clientes</a>
                                </h5>
                           <p class="badge mb-0"><%= clientes[0].clientes %> </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 text-lg-center">
                        <div class="custom-block custom-block-overlay align-content-center">
                            <a href="/vehiculos" class="custom-block-image-wrap">
                                <a href="/vehiculos"><img src="https://i.ibb.co/DQjscHK/carro.png"
                                    class="custom-block-image img-fluid bi-align-center" alt="">
                            </a>

                            <div class="custom-block-info custom-block-overlay-info">
                                <h5 class="mb-1">
                                    <a href="listing-page.html"> Vehiculos</a>
                                </h5>
                           <p class="badge mb-0"><%= vehiculos[0].vehiculos %> </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


    </main>


    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                    
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-md-0 mb-lg-0">
                    <h6 class="site-footer-title mb-3"></h6>

                  
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <h6 class="site-footer-title mb-3"></h6>

                    

                    <h6 class="site-footer-title mb-3"></h6>

                    
                </div>

            </div>
        </div>

        <div class="container pt-5">
            <div class="row align-items-center">

                

                <div class="col-lg-3 col-12">
                    <p class="copyright-text mb-0">Copyright © 2023
                       
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>